* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
    align-items: center;
    background-color: #c1c1c1;
    padding: 2rem;
}

input {
    padding: 0.5rem 0.5rem;
}


button {
    width: 10rem;
    padding: 0.5rem;
    align-self: center;
}