@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(18, 110, 153);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 1rem;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 2.5rem;
    padding: 0 0.5rem;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    height: 2rem;
    cursor: pointer;
    transition: 300ms ease;
    margin-top: 2rem;
}

form button:hover {
    background-color: var(--primary-color-darker);
}

.texto-branco {
    color: #FFF;
}