.menu img {
    position:  absolute;
    top: 20px;
    width: 60px;
    left: 20px;
    cursor: pointer;
}

.menu-hamburguer {
    background-color: #FFF;
    height: 350px;
    position: absolute;
    top: 90px;
    border-radius: 6px;
}

.menu-hamburguer ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    padding: 0;
    margin: 0;
}

.menu-hamburguer a {
    color: #000;
}

.menu-hamburguer a:hover{
    color: red;
    cursor: pointer;
}

.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50px);
    transition: 300ms;
}
.active {
    opacity: 1;
    visibility: visible;
    transition: 300ms;
}

