@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.divSearch {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 5px;
}

input {
    padding: 5px;
    outline: none;
}

.content {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 6px;
}

img {
    width: 100px;
}

.card-poke {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}